.order-form {
  display: flex;
  flex-direction: column;
}

.order-form__content,
.order-form__actions {
  padding: 3rem;
}

.order-form__content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.order-form__field {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.order-form__field label {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.25rem;
  line-height: 3.5rem;
  height: 3.5rem;
}

.order-form__field input {
  padding: 1rem 2rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  font-size: 3rem;
  color: #000;
  height: 5.5rem;
  line-height: 5.5rem;
  width: 100%;
}

.order-form__field input:focus-visible {
  outline: 2px solid #FF0000;
  outline-offset: -2px;
}
